[Desktop Entry]
Type=Application
Version=1.0
Name=LinuxSonar
GenericName=Audio Mixer
Comment=Native Linux audio mixer & router inspired by SteelSeries Sonar
Exec=LinuxSonar
Icon=audio-headphones
Terminal=false
Categories=AudioVideo;Audio;Mixer;
Keywords=audio;mixer;equalizer;pipewire;bluetooth;headset;
StartupNotify=true
StartupWMClass=LinuxSonar
SingleMainWindow=true
